#search-results-0 > .row .item {
  float: left;
}
#search-results-0 > .row .item .remove,
#search-results-0 > .row .item .description .whisper {
  background: transparent;
  color: #dcd3c3;
  font-weight: normal;
  padding: 0;
  border: none;
  -webkit-box-shadow: none; */
  box-shadow: none;
}
#search-results-0 > .row .item .remove {
  position: absolute;
  top: 0px;
  right: 20px;
}
#search-results-0 > .row .item:nth-of-type(3n+4) {
  clear: both;
}